@model IEnumerable<ShopBrige_App.Models.InventoryItem>
@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Items</h2>

<table id="items" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Item</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#items").DataTable({
                ajax: {
                    url: "/api/items",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        
                    },
                ]
            });
        });
    </script>
}

